@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700');
@import 'scss/reset';
@import 'scss/vars';

html {
  position: relative;
  min-height: 100%;
}

body {
  // margin bottom to move footer at bottom
  margin-bottom: 80px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font: 16px/1.5 $mainFont, Arial, Helvetica;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

@import 'scss/navbar';
@import 'scss/footer';
@import 'scss/queries';
@import 'scss/forms';
@import 'scss/layout';
@import 'scss/product';
@import 'scss/about';
@import 'scss/lookbook';
@import 'scss/cart';