@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700');
@import 'scss/reset';
@import 'scss/vars';

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font: 16px/1.5 $mainFont, Arial, Helvetica;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

.layout {
  h2 {
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }
}

@import 'scss/navbar';
@import 'scss/queries';
@import 'scss/_layout.scss';