@import 'scss/reset';
@import 'scss/vars';

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.layout {
  h2 {
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }
}

@import 'scss/navbar';
@import 'scss/queries';