@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,700");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

ul {
  list-style: none;
  padding: 0; }

body {
  font: 16px/1.5 "Open", sans-serif, Arial, Helvetica; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: #ffffff; }

nav {
  position: relative;
  background: #00BBF0;
  color: #ffffff;
  min-height: 50px; }
  nav a.active, nav a:hover {
    transition: all .3s ease-in;
    color: #00204A; }
  nav #nav-logo {
    position: absolute;
    left: 46%; }
    nav #nav-logo #logo h2 {
      font-weight: 700;
      font-size: 2.2rem;
      font-family: "Lato", sans-serif;
      transition: transform 1s; }
      nav #nav-logo #logo h2:hover {
        transform: scale(1.1); }
  nav .nav-links .nav-item {
    float: left;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase; }
    nav .nav-links .nav-item.left {
      margin-right: 10px; }
    nav .nav-links .nav-item.right {
      margin-right: 10px; }
      nav .nav-links .nav-item.right:first-of-type {
        margin-right: 15px; }
      nav .nav-links .nav-item.right:nth-child(2) {
        margin-right: 17px; }
      nav .nav-links .nav-item.right.cart {
        position: relative;
        cursor: pointer; }
        nav .nav-links .nav-item.right.cart .circle {
          background: #00204A;
          width: 16px;
          height: 16px;
          display: inline-block;
          font-size: 12px;
          border-radius: 50%;
          text-align: center;
          color: #ffffff;
          position: absolute;
          left: 12px;
          top: -7px; }
  nav .nav-links .nav-items.left {
    float: left;
    padding: 0.875rem 0 0 1.25rem; }
  nav .nav-links .nav-items.right {
    float: right;
    padding: 0.875rem 1.25rem 0 0; }

#drop-menu {
  background: #ffffff;
  height: 190px;
  width: 100%;
  display: none;
  position: absolute;
  top: -190px;
  z-index: 3;
  opacity: 0.9; }
  #drop-menu a {
    position: relative;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 7px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none; }
    #drop-menu a.active, #drop-menu a:hover {
      color: #00BBF0; }
    #drop-menu a:first-of-type {
      margin-top: 15px; }

#drop-menu.visible {
  top: 0px;
  transition: all 0.5s linear; }

#menu-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 190px;
  right: 0px;
  cursor: pointer;
  margin: 29px 20px 20px;
  z-index: 3;
  transition: all .5s linear; }
  #menu-btn span {
    display: block;
    height: 2px;
    background: #111;
    margin-bottom: 4px; }
    #menu-btn span:first-of-type {
      height: 3px; }
    #menu-btn span:nth-child(2) {
      width: 75%; }
    #menu-btn span:nth-child(3) {
      width: 50%; }

#footer {
  background: #00204A;
  text-align: center;
  color: #ffffff; }
  #footer .footer-container {
    max-width: 1200px;
    padding: 2.5rem;
    margin: 0 auto; }
    #footer .footer-container ul .address-text {
      float: left;
      margin-right: 10px; }

.layout {
  display: grid;
  grid-gap: 20px; }

.carousel-container {
  height: 500px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 35px;
  position: relative; }
  .carousel-container .carousel-text {
    text-align: center;
    margin: 0;
    font-family: "Lato", sans-serif;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15vw;
    z-index: -1;
    letter-spacing: 85px;
    opacity: 0.4; }
  .carousel-container .carousel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 30px 0; }
    .carousel-container .carousel .slide {
      width: 400px;
      height: 400px;
      margin: auto; }
      .carousel-container .carousel .slide .image {
        overflow: hidden;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0.8;
        transition: transform 3s; }
        .carousel-container .carousel .slide .image:hover {
          z-index: 1;
          opacity: 1;
          transform: scale(1.15); }
    .carousel-container .carousel .slide-arrow {
      color: #005792;
      cursor: pointer;
      font-size: 2rem;
      position: absolute;
      top: 50%; }
    .carousel-container .carousel .slide-arrow.right {
      right: 7rem; }
    .carousel-container .carousel .slide-arrow.left {
      left: 7rem; }

.grid-container {
  width: 100%;
  max-width: 1500px;
  margin: 1.5rem auto;
  padding: 30px; }
  .grid-container .image-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }
    .grid-container .image-grid img {
      cursor: pointer;
      width: 100%;
      transition: transform 1.5s; }
      .grid-container .image-grid img:hover {
        transform: scale(1.1); }

#video-container {
  background: #00BBF0;
  box-shadow: 0 4px 9px rgba(104, 104, 104, 0.8); }
  #video-container .content {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
    color: #ffffff; }
  #video-container .video-layer {
    width: 628px; }
  #video-container .promo-text {
    margin-top: 3rem;
    font-size: 4rem;
    text-align: center;
    font-weight: bold; }

#product {
  max-width: 1200px;
  margin: 0 auto; }
  #product .product-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'image image image description' 'image image image buttons'; }
    #product .product-container .image {
      grid-area: image;
      min-height: 300px;
      padding: 1.2rem; }
    #product .product-container .description {
      grid-area: description;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #product .product-container .description .product-name {
        font-weight: 800;
        font-size: 1.3rem; }
    #product .product-container .buttons {
      grid-area: buttons;
      margin: 0 auto; }
      #product .product-container .buttons .list-item {
        float: left; }
      #product .product-container .buttons .size-btn,
      #product .product-container .buttons .cart-btn {
        width: 5rem;
        height: 2.5rem; }
      #product .product-container .buttons .size-btn {
        font-size: 1rem;
        border: 0;
        cursor: pointer;
        background: blue; }
      #product .product-container .buttons .cart-btn {
        cursor: pointer;
        color: #ffffff;
        border: 0;
        background: #00204A;
        font-size: 1rem;
        padding: 0.8rem; }
        #product .product-container .buttons .cart-btn:hover, #product .product-container .buttons .cart-btn:focus {
          background: #00BBF0;
          color: black;
          outline: 0;
          transition: background-color 0.3s ease-out; }

.about {
  max-width: 1200px;
  margin: 0 auto;
  background: #005792;
  color: #ffffff; }
  .about .intro .intro-text {
    padding: 5rem;
    text-align: center; }
  .about .intro h2 {
    font-size: 2.5rem; }
  .about .description {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem; }
    .about .description .desc-text {
      display: flex;
      justify-content: center;
      align-items: center; }
  .about .intro p,
  .about .description p {
    font-size: 20px; }

.lookbook-grid {
  height: 100vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

#empty-cart {
  display: flex;
  align-items: center;
  justify-content: center; }
  #empty-cart h2 {
    font-size: 2.5rem; }

#cart {
  max-width: 1100px;
  margin: 4rem auto; }
  #cart .cart-intro {
    margin-bottom: 0.5rem; }
  #cart .total {
    margin-top: 0.5rem;
    text-align: right; }
  #cart table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black; }
  #cart th, #cart td {
    border: 1px solid black; }
  #cart th:empty:after {
    content: "\00a0"; }
  #cart td {
    text-align: center; }
  #cart button {
    cursor: pointer;
    border: 0;
    background: transparent; }

#empty-cart,
#cart {
  height: 100vh; }
