#footer {
  background: $darkBlue;
  text-align: center;
  color: $white;

  .footer-container {
    max-width: 1200px;
    padding: 2.5rem;
    margin: 0 auto;
    ul {
      .address-text {
        float: left;
        margin-right: 10px;
      }
    }
  }
}