.lookbook-grid{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
  // img {
  //   width: 100%;
  //   transition: transform 1.5s;

  //   &:hover {
  //     transform: scale(1.15);
  //   }
  // }
}