nav {
  position: relative;
  background: $lightBlue;
  color: #ffffff;
  min-height: 50px;

  a {
    &.active,
    &:hover {
      transition: all .3s ease-in;
      color: $darkBlue;
    }
  }

  #nav-logo {
    position: absolute;
    left: 46%;
    
    #logo {
      h2 {
        font-weight: $fwBold;
        font-size: 2.2rem;
        font-family: $headerFont;
        transition: transform 1s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }


  .nav-links {
    .nav-item {
      float: left;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;

      &.left {
        margin-right: 10px;
      }

      &.right {
        margin-right: 10px;
        
        &:first-of-type {
          margin-right: 15px;
        }

        &:nth-child(2) {
          margin-right: 17px;
        }

        &.cart {
          position: relative;
          cursor: pointer;
  
          .circle {
            background: $darkBlue;
            width: 16px;
            height: 16px;
            display: inline-block;
            font-size: 12px;
            border-radius: 50%;
            text-align: center;
            color: $white;
            position: absolute;
            left: 12px;
            top: -7px;
          }
        }
      }
    }

    .nav-items.left {
      float: left;
      padding: 0.875rem 0 0 1.25rem;
    }

    .nav-items.right {
      float: right;
      padding: 0.875rem 1.25rem 0 0;
    }
  }
}

#drop-menu {
  background: $white;
  height: 190px;
  width: 100%;
  display: none;
  position: absolute;
  top: -190px;
  z-index: 3;
  opacity: 0.9;

  a {
    position: relative;
    color: $white;
    text-align: center;
    // border-bottom: 1px solid #111;
    display: block;
    padding: 7px 0;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;

    &.active,
    &:hover {
      color: $lightBlue;
    }

    &:first-of-type {
      margin-top: 15px;
    }
  }

}

#drop-menu.visible {
  top: 0px;
  transition: all 0.5s linear;
}

#menu-btn {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 190px;
  right: 0px;
  cursor: pointer;
  margin: 29px 20px 20px;
  z-index: 3;
  transition: all .5s linear;

  span {
    display: block;
    height: 2px;
    background: #111;
    margin-bottom: 4px;

    &:first-of-type {
      height: 3px;
    }

    &:nth-child(2) {
      width: 75%
    }

    &:nth-child(3) {
      width: 50%
    }
  }
}