$white: #ffffff;
$lightGray: #F6F6F6;
$lightBlue: #00BBF0;
$lighterBlue: #D9FAFF;
$oceanBlue: #005792;
$darkBlue: #00204A;

$black: #353535;
$lighterDark: #34374C;

$fwNormal: 400;
$fwBold: 700;

$headerFont: 'Lato', sans-serif;
$mainFont: 'Open', sans-serif;