$white: #ffffff;
$lightGray: #e8e9eb;
$gray: #a7a7a7;
$darkGray: #606060;
$accent: #A0CCE3;
$darkBlue: #1B2355;
$offsetOrange: #F66464;

$black: #353535;
$secondaryGray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

$fwNormal: 400;
$fwBold: 900;